*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background-image: url('IMG/danhgia.jpg');
}
.container{
    width: 400px;
    background-color: bisque;
    padding: 20px 30px;
    border: 1px solid yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container.star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: brown;
    padding: 10px;
    float: right;
}
 input:not (:checked) ~ label:hover,
 input:not (:checked) ~ label:hover~label{
     color: yellow;
 }
 input:checked~label{
     color: yellow;
 }
 input#rate-5:checked~label{
     color: #fe7;
     text-shadow: 0 0 20px brown;
 }
input#rate-1~header:before{
     content: "Tôi không thích sản phẩm này!";
}
 form header{
     width: 100%;
     font-size: 25px;
     color: orange;
     font-weight: 500;
     margin: 5px 0 20px 0;
     text-align: center;
     transition: all 0.2s ease;
 }

 form.textarea{
     height: 100px;
     width: 100%;
     overflow: hidden;
 }
 form.textarea textarea{
     height: 100%;
     width: 100%;
     outline: none;
     color: white;
     border: 1px solid black;
     background: gray;
     padding: 10px;
     font-size: 17px;
     resize: none;
 }
 form.btn{
     height: 45px;
     width: 100%;
     margin: 15px 0;
 }
 form.btn button{
     height: 100%;
     width: 100%;
     border: 1px solid grey;
     outline: none;
     background-color: #999;
     font-size: 17px;
     font-weight: 500;
     text-transform: uppercase;
     cursor: pointer;
     transition: all 0.3s ease;
 }
 form .btn button:hover{
     background-color: black;
 }
 